.proposal_wrap.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 100% !important;
}
.proposal_wrap.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
    line-height: 56px;
}
.proposal_wrapper .bi_type span{
    display: inline-block;
    padding: 3px 5px;
    margin: 5px 2px;
}
.proposal_wrapper .bi_type .active{
    background: #403af4;
}
.currentResult.ant-card{
    background: rgba(49, 47, 47, 0.9);
    border: 0;
}

.currentResult.ant-card .title,.info.ant-card .title{
    color: #fff;
}
.info.ant-card{
    background: rgba(49, 47, 47, 0.9);
    border: 0;
    margin-top: .1rem;
}
.voteBtn.ant-btn{
    width: 90%;
    margin: .1rem auto;
    background: #403af4;
    display: block;
    border: 1px solid #403af4;
    color: #fff;
    font-family: Arial-Regular,sans-serif;
    font-size: .22rem;
    height: .55rem;
}

@media (max-width: 750px) {

    .proposal_wrap.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
        line-height: 39px;
        text-align: center;
    }
    .proposal_wrapper .bi_type span {
        padding: 3px 4px;
        font-size: 12px;
    }
}
