.ref_wrap{
    width:9.5rem;
    margin:100px auto;
    /**/
}
.ref_wrap .ref_card{
    background: #000;
    border: 2px solid #403af4;
    text-align: center;

}
.ref_wrap .ant-card-head{
    color: #fff !important;
    text-align: center;
    background: #403af4;
    padding: 0;
    border-radius: 0;
    border-bottom: 0 !important;
    font-size: 22px;
    letter-spacing: 2px ;
}
.ref_wrap .ant-card-head-title{
    padding: 0;
    line-height: 40px;
}
.ref_wrap .ant-card-body h3{
    text-align: center;
    font-family: Arial-BoldMT,sans-serif;
    font-size: .28rem;
    letter-spacing: 3px;
    color: #ffffff !important;
}
.ref_wrap .ant-card-body .title + p{
    word-break: break-word;
}
.ref_wrap .ant-row h4,.ref_wrap p,.ref_wrap .ant-row dl{
    color: #fff;
    text-align: center;
}
.ref_wrap .ant-row h4{
    font-family: AdobeHeitiStd-Regular,sans-serif;
    font-size: .16rem;
    letter-spacing: 2px;
    color: #ffffff;
}
.ref_wrap .ant-row p{
    font-family: Arial-BoldMT,sans-serif;
    font-size: .26rem;
    letter-spacing: .03rem;
    color: #4b46f0;
}
.ref_wrap .ant-row dl{
    display: flex;
    justify-content: center;
    font-family: Arial-BoldMT,sans-serif;
    font-size:.12rem;
    color: #ffffff;
}
.ref_wrap .ant-btn{
    color: #fff;
    background: #403af4;
    border: #403af4;
    /*height: 50px;*/
    font-size: .2rem;
    line-height: .2rem;
    margin-bottom: .4rem;
}
.ref_wrap .ref-info{
    margin-bottom: .5rem;
}
@media (max-width: 1080px) {
    .ref_wrap{
        width: 85%;
    }
}
@media (max-width: 960px) {
    .ref_wrap{
        width: 92%;
    }
}
@media (max-width: 750px) {
    .ref_wrap{
        width: 92%;
    }

    .ref_wrap .ant-row p{
        font-family: Arial-BoldMT,sans-serif;
        font-size: .13rem;
        color: #4b46f0;
    }
    .ref_wrap .ref-info dd,.ref_wrap .ref-info dt{
        font-size: .16rem;
    }
    .ref_wrap .ant-row .ant-col-8{
        max-width: 50% !important;
        flex:0 0 50%;
    }
    .ref_wrap .ant-btn{
        font-size: .3rem;
        line-height: .3rem;
    }
}


