.header_wrap {
    background: transparent;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 85%;
    height: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width:0.65rem ;
    height: 0.71rem;
    line-height: 1;
}
.startBtn {
    border-color: #403af4 !important;
    background: #403af4 !important;
    transition: 1s;
    color: #fff !important;
    width: 2.56rem;
    height: 0.52rem;
    font-size: 0.25rem;
    font-family: Dubai, sans-serif;
    line-height: 52px;
    text-align: center;
    padding: 0 40px;
}

.startBtn:hover {
    transform: scale(1.1);
}

.main {
    width: 100%;
    background: transparent;
}
.center {
    width: 85%;
    height: 100%;
    /*padding: 100px 0;*/
    margin: 0 auto;
}

.future {
    height: calc(100vh - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
.future .title_wrap{
    width: 100%;
    margin-top: 1rem;
}
.future .title {
    width: 100%;
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.3rem;
    font-family: Arial,sans-serif;
    font-weight: normal;
    letter-spacing: 0.02rem;
}
.future .title .title_sub{
    letter-spacing: 0.026rem;
    font-size: 1.3rem;
    line-height: 1.46rem;
}
.future .seeMore {
    color: #fff;
    font-size: 0.3rem;
    line-height: .3rem;
    padding: 0;
}
.future .poster{
    width:106%;
}

.debond {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.debond .title {
    font-family: Arial,sans-serif;
    font-size: .80rem;
    line-height: 1;
    letter-spacing: 0.02rem;
    color: #fff;
    font-weight: bold;
}
.debond .sub_title{
    font-family: Arial,sans-serif;
    font-size: .36rem;
    letter-spacing: 0.01rem;
    color: #fff;
    font-weight: 500;
}
.debond .content {
    color: #fff;
    text-indent: 2em;
    font-size: 20px;
}
.debond .debond_text{
    font-size: .24rem;
    font-family: Arial,sans-serif;
    color: #ffffff;
    /*width: 10rem;*/
    overflow: hidden;
}
.debond .text{
    letter-spacing: 0.03rem;
    font-size: 0.24rem;
}
.debond .poster{
    margin-top: 1.9rem;
}
.debond .article{
    width: 60%;
}
.ecosystem{
    height: 100vh;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}
.ecosystem .title {
    font-family: Arial,sans-serif;
    font-size: .8rem;
    color: #ffffff;
    line-height: 1.08rem;
    vertical-align: top;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    white-space: nowrap;
}
.ecosystem .list {
    display: flex;
    flex-direction: column;
    width:7.69rem;
}

.ecosystem .list .item {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    font-size: .2rem;
    text-align: left;
    margin-bottom: .5rem;
}
.ecosystem .content {
    width: 100%;
}
.ecosystem .poster{
    width: 6.36rem;
    margin-left: 1.6rem;
    padding-top: 1.78rem;
}
.ecosystem .lastName{
    cursor: pointer;
    user-select: none;
    width: 1.93rem;
    height: .52rem;
    line-height: .52rem;
    background: #403af4;
    border: 1px solid #707070;
    box-sizing: border-box;
    text-align: center;
}
.erc3475 {
    height: 100vh;
    padding-top: 1rem;
    color: #fff;
}

.erc3475 .title {
    margin-top: .5rem;
    font-family: Arial,sans-serif;
    font-size: .80rem;
    font-weight: bold;
    line-height: 1rem;
    letter-spacing: 1.5px;
    color: #ffffff;
}
.erc3475 .article{
    width:9.38rem
}
.erc3475 .content {
    display: flex;
    justify-content: space-between;
}
.erc3475 .content .detail {
    font-family: Arial,sans-serif;
    font-size: .26rem;
    line-height: .35rem;
    letter-spacing: .5px;
    color: #ffffff;
}
.erc3475 .content .docBtn {
    background: #403af4 !important;
    border-color: #403af4;
    margin-bottom: 30px;
    width: 4.75rem;
    height: .52rem;
    font-size: .25rem;
    letter-spacing: .02rem;
    font-family: Dubai,sans-serif;
    text-transform: uppercase;
}
.erc3475 .content .eth {
    font-size: .5rem;
}
.erc3475 .content .content_item {
    width: 2.54rem;
    height: 2.54rem;
    border-radius: 50%;
    background: #cac8c8;
    text-align: center;
    color: #000;
}
.erc3475 .content_item .item_title{
    font-family: Dubai,sans-serif;
    font-size: .8rem;
    color: #000;
    margin-top: .5rem;
    line-height: 1;
    margin-bottom: 0;
}
.standard {
    padding-top: 0;
    color: #fff;
}

.wallet .content, .standard .content {
    width: 57%;
}
.wallet .title, .standard .title {
    font-size: .8rem;
    line-height: 1.17;
    letter-spacing: 1.6px;
    color: #fff;
    font-family: Arial,sans-serif;
    margin-bottom: .58rem;
    font-weight: bold;
    word-break: break-word;
}

.standard .text {
    font-family: Arial,sans-serif;
    font-size: .26rem;
    line-height: .35rem;
    letter-spacing: 0.4px;
}

.wallet .top, .standard .top {
    padding: 1.2rem .3rem;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.wallet .introduce {
    list-style: disc;
    color: #fff;
    padding-right: 40px;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: .4px;
    margin-bottom: .4rem;
    font-family: Arial-Regular,sans-serif;
}
.wallet .introduce .item{
    margin-bottom: .4rem;
}
.useApp {
    margin-left: 40px;
    background: #403af4 !important;
    width: 2.24rem;
    height: .52rem;
    border: solid 1px #707070;
    font-size: .25rem;
    margin-top: .1rem;
    letter-spacing: 1.5px;
}
.gov{
    display: flex;
    align-items: center;
    height: 100vh;
    margin-bottom: 2rem;
}
.gov .top {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.gov .title {
    color: #fff;
    margin-bottom: 0;
    line-height: 1;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Arial',sans-serif;
}
.gov .text {
    font-size: .36rem;
    color: #fff;
}
.gov .introduce {
    width: 46%;
    border-left: 4px solid #fff;
    padding-left: 30px;
    margin-top: -.5rem;
}
.gov .title_sub {
    font-size: .8rem;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin-bottom: .18rem;
}
.gov .title_small{
    font-size: .48rem;
}
.gov .text_sub {
    font-family: Arial,sans-serif;
    font-size: .26rem;
    line-height: .35rem;
    letter-spacing: 0.4px;
    width: 72%;
    padding-bottom: .4rem;
}


.menu{
    display: none;
}
@media (max-width: 1700px) {
    .future .title{
        font-size: 0.9rem;
        line-height: 1.2;
    }
    .future .title .title_sub{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .future .poster{
        width: 130%;
    }

    .debond .debond_text{
        font-size: 0.22rem;
    }
    .debond .text{
        letter-spacing: 0.02rem;
        font-size: 0.22rem;
    }
    .ecosystem .poster{
        padding-top: 2.65rem;
    }
    .erc3475 .content .content_item {
        width: 2.2rem;
        height: 2.2rem;
    }

    .erc3475 .content_item .item_title{
        font-size: .5rem;
    }

    .wallet .title, .standard .title {
        font-size: .7rem;
    }

    .standard .text {
        font-size: .2rem;
        line-height: .32rem;
    }

}
@media (max-width: 1660px) {
    .future .title{
        font-size: 0.7rem;
        line-height: 1.2;
    }
    .future .title .title_sub{
        font-size: .8rem;
        line-height: 1.2rem;
    }

    .debond .debond_text{
        font-size: 0.2rem;
    }
    .debond .text{
        letter-spacing: 0.02rem;
        font-size: 0.2rem;
    }

    .debond .poster{
        width: 3.5rem;
    }

    .erc3475 .title {
        font-size: .7rem;
    }
    .erc3475 .content .detail {
        font-size: .2rem;
    }

}
@media (max-width: 1560px) {
    .ecosystem .poster{
        padding-top: 2rem;
        margin-left: 1rem;
    }
    .erc3475 .article{
        width: 8rem;
    }
}
@media (max-width: 1450px) {
    .future .title{
        font-size: 0.7rem;
    }
    .debond .debond_text{
        font-size: 0.2rem;
    }
    .debond .title{
        font-size: .6rem;
    }
    .debond .sub_title{
        font-size: .28rem;
    }
    .debond .text{
        font-size: 0.2rem;
    }
    .debond .poster{
        width: 3rem;
        margin-right: 0;
    }
    .debond .article{
        width: 65%;
    }
    .erc3475 .title{
        font-size: .5rem;
        line-height: .6rem;
    }
    .erc3475 .content .content_item {
        width: 2rem;
        height: 2rem;
    }
    .gov .title {
        font-size: .8rem;
    }
    .gov .text {
        font-size: .28rem;
    }
    .gov .title_small{
        font-size: .36rem;
    }
}
/*
@media (max-width: 1350px) {
    .header{
        height: 1.8rem;
    }
    .future {
        padding-bottom: 0;
        height: calc(100vh - 1.8rem);
    }
    .future .title{
        font-size: 0.6rem;
        line-height: 1.1;
    }
    .future .title .title_sub{
        font-size: .7rem;
        line-height: 1rem;
    }
    .debond .debond_text{
        font-size: .18rem;
    }
    .debond .text{
        font-size: .18rem;
        letter-spacing: 1px;
    }
    .debond .poster{
        !*width: 3rem;*!
        margin-right: 0;
    }
    .erc3475 .article{
        width: 60%;
    }
    .erc3475 .content .content_item {
        width: 1.8rem;
        height: 1.8rem;
    }
    .erc3475 .title {
        margin-top: .5rem;
        font-family: Arial,sans-serif;
        font-size: .4rem;
        line-height: 1.2;
        letter-spacing: 2px;
        color: #ffffff;
    }
    .erc3475 .content_item .item_title {
        font-size: .3rem;
    }
    .erc3475 .content .docBtn {
        width: 4rem;
        height: .52rem;
        font-size: .2rem;
    }
    .erc3475 .content .detail {
        font-family: Arial,sans-serif;
        font-size: .18rem;
        line-height: .24rem;
        color: #ffffff;
    }
    .gov .title {
        font-size: .8rem;
    }
    .gov .text {
        font-size: .24rem;
    }

    .gov .title_small{
        font-size: .32rem;
    }
    .ecosystem .list{
        width: auto;
    }

    .wallet .title, .standard .title {
        font-size: .6rem;
    }

    .standard .text {
        font-size: .18rem;
        line-height: .26rem;
    }

.ecosystem .poster{
    padding-top: 2rem;
}
}
*/

@media (max-width: 1320px) {
    .header{
        height: 133px;
    }
    .header .logo{
        width: .4329rem;
    }
    .center{
        padding-bottom: 0;
    }
    .startBtn{
        width: 1.706624rem;
        height: .346632rem;
        line-height: .346632rem;
        font-size: .16665rem;
        padding: 0 .26rem;
    }
    .future{
        height: calc(100vh - 133px);
    }
    .future .title_wrap{
        width: 85%;
        margin-top: .66rem;
    }
    .future .poster{
        width: 86.658%;
    }
    .future .title{
        font-size: .79992rem;
        line-height: .86658rem;
    }
    .future .title .title_sub{
        font-size: .86658rem;
        line-height: .973236rem;
    }
    .future .seeMore{
        font-size: .19998rem;
        line-height: 1;
    }

    .debond .poster{
        width: 1.9998rem;
        margin-top: 1.26654rem;
    }
    .debond .article{
        width: 60%;
    }
    .debond .title,.ecosystem .title,.erc3475 .title,.wallet .title, .standard .title{
        font-size: .53328rem;
    }
    .debond .sub_title{
        font-size: .239976rem;
    }
    .debond .debond_text,.debond .text{
        font-size: .159984rem;
    }
    .ecosystem .title{
        line-height: .66rem;
        margin-bottom: .66rem;
    }
    .ecosystem .list .item{
        margin-bottom: .3333rem;
    }
    .ecosystem .lastName {
       width: 1.28538rem;
       height: .346632rem;
       line-height: .346632rem;
    }
    .ecosystem .poster {
        /*width: 4.239576rem;*/
        margin-left: 1.0656rem;
        padding-top: 1.18548rem;
    }
    .erc3475 .article {
        width: 6.24708rem;
    }
    .erc3475 .content .detail {
        font-size: .156rem;
        line-height: .231rem;
    }
    .erc3475 .content .content_item {
        width: 1.69164rem;
        height: 1.69164rem;
    }
    .erc3475 .content .docBtn{
        width: 3.1635rem;
        height: .34632rem;
        font-size: .16rem;
    }
    .erc3475 .eth{
        font-size: .16rem !important;
    }
    .erc3475 {
        padding: 0;
    }
    .erc3475 .content {

        align-items: center;
    }
    .info_standard__2vnGV .info_text__1x7wG {
        line-height: .2331rem;
        font-size: .17316px;
    }
    .erc3475 .content_item .item_title {
        font-size: .5328rem;
        margin-top: .333rem;
    }
    .wallet .title{
        margin-bottom: .3862rem;
    }
    .wallet .introduce .item{
        margin-bottom: .2664rem;
    }
    .wallet .introduce {
        font-size: .17316rem;
        line-height: .23976rem;
        letter-spacing: .4px;
        margin-bottom: .2664rem;
        font-family: Arial-Regular,sans-serif;
    }

    .gov .title{
        font-size: .8rem;
    }
    .gov .title_small {
        font-size: .32rem;
    }
    .gov .text {
        font-size: .24rem;
    }
    .gov .title_sub {
        font-size: .54rem;
        margin-bottom: .12rem;
    }
    .gov .text_sub {
        font-size: .16665rem;
        line-height: .23331rem;
        padding-bottom: .2664rem;
    }

    .useApp{
        width: 1.49333rem;
    height: .3466632rem;
    font-size: .16rem;padding: 5px 0;
    }
}

@media (max-width: 1120px) {
    .header{
        height: 1.4rem;
    }
    .future{
        padding-bottom: 0;
        height: calc(100vh - 1.4rem);
    }
    .future .title{
        font-size: 0.5rem;
        line-height: 1;
    }
    .future .title .title_sub{
        font-size: .6rem;
        line-height: .8rem;
    }
    .future .poster{
        width: 128%;
    }

    .debond .debond_text{
        width: auto;
        font-size: .14rem;
    }

    .debond .poster{
        width: 2rem;
    }
    .erc3475 .article{

    }
    .erc3475 .content .content_item {
        width: 1.5rem;
        height: 1.5rem;
    }
    .erc3475 .content_item .item_title{
        font-size: .4rem;
        margin-top: .3rem;
    }

    .gov .title {
        font-size: .6rem;
    }
    .gov .text {
        font-size: .22rem;
    }
    .gov .title_small{
        font-size: .28rem;
    }
    .ecosystem .content {
        width:100%;
    }

}
@media (max-width: 1080px) {
.debond .article{
    width:72% ;
}
}
@media (max-width: 960px) {

    .future .title{
        font-size: 0.4rem;
        line-height: 1;
    }
    .future .title .title_sub{
        font-size: .5rem;
        line-height: 1.1;
    }
    .future .seeMore{
        font-size: .2rem;
        line-height: .2rem;
    }
    .erc3475 .content .docBtn{
        width: 3rem;
        height: .42rem;
        font-size: .14rem;
    }
    .debond .title{
        font-size: .5rem;

    }
    .debond .sub_title{
        font-size: .22rem;

    }
    .ecosystem .poster{
        display: none !important;
    }
}

@media (max-width: 750px) {
    .header_wrap{
        height: 2.92rem;
    }
    .header .logo{
        width: 0.64rem;
        height: 0.7rem;
    }
    .startBtn{
        padding: 0;
    }
    .menu{
        display: block;
        padding: 0;
        line-height: 1;
        height: auto;
        border: 0;
        font-size: .40rem;
    }
    .center {
        width: 100%;
        padding: 2rem .50rem;
        overflow: hidden;
        display: block !important;
        height: auto;
    }
    .future{
        height: calc(100vh - 2.92rem);
        display: block;
        position: relative;
        background: url("/src/assets/info01.png") no-repeat center 0/auto 8.26rem;
        padding-top: 0;
    }
    .future .seeMore{
        font-size: .3rem;
    }
    .future .title_wrap{
        width: auto;
        margin-top: 0;
    }
    .future .title {
        width: auto;
        padding-top: 4.4rem;
        font-size: 0.88rem;
        letter-spacing: 0;
        line-height: 1.1;
    }
    .future .title .title_sub{
        font-size: .88rem;
    }
    .future .startBtn {
        width: 3.5rem;
        height: 0.74rem;
        font-size: 0.36rem;
        line-height: 0.12rem;
        letter-spacing: 0.022rem;
    }
    .future .poster{
        display: none;
    }
    .future .seeMore{
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%) scale(1) !important;
    }

    .debond .poster {
        display: block;
        width: 2.78rem;
        height: 3.02rem;
        margin: 1.5rem auto;
        margin-bottom: 0;
    }
    .debond .title {
        font-family: Arial,sans-serif;
        text-align: center;
        margin-top: .84rem;
        font-size: 0.66rem;
        line-height: 0.68rem;
        letter-spacing: 0.014rem;
    }

    .ecosystem{
        /*height: 100vh;*/
    }
    .ecosystem .title{
        margin-bottom: 0;
        white-space: normal;
        font-size: 0.84rem;
        line-height: 1.1;
    }
    .ecosystem .poster{
        margin: 0;
        display: none;
    }
    .ecosystem .poster_m{
        width: 5.8rem;
        margin: 1rem auto;
    }

    .erc3475{
        height: auto;
        /*height: 100vh;*/
    }
    .erc3475 .title{
        font-size: 0.84rem;
        letter-spacing: 0.016rem;
    }
    .erc3475 .content .content_item {
        width: 3rem;
        height: 3rem;
    }
    .erc3475 .content_item .item_title{
        margin-top: .6rem;
        font-size: 0.84rem;
        letter-spacing: 0.004rem;
    }
    .erc3475 .content .detail {
        font-size: 0.28rem;
        line-height: 0.4rem;
        letter-spacing: 0.004rem;
        margin-top: 1rem;
    }
    .erc3475 .content .docBtn{
        width: 4.18rem;
        height: 0.74rem;
        font-size: 0.36rem;
    }
    .erc3475 .eth {
        font-size: 0.28rem !important;
    }
    .erc3475 .eth .eth_icon{
        font-size: .5rem;
    }
    .standard{
        padding-top: 0;
        padding-bottom: 0;
    }
    .standard .top{
        height: auto;
        padding: 2rem 0;
    }
    .standard .title{
        font-size: 0.84rem;
        margin-top: 1.8rem;
        line-height: 0.9rem;
        letter-spacing: 0.016rem;
    }
    .standard .text{
        font-size: 0.28rem;
        line-height: 0.4rem;
        letter-spacing: 0.004rem;
    }
    .standard .top{
        flex-direction: column-reverse;
    }
    .standard .poster{
        width: 3.6rem;
        margin: 0 auto;
    }
    .standard .content,.standard .poster .img{
        width: 100%;
    }

    .wallet {
        padding-top:0 ;
        padding-bottom: 0;
    }
    .wallet .top{
        display: block;
        padding: 2rem 0;
    }
    .wallet .title{
        font-size: 0.84rem;
        line-height: 0.9rem;
        letter-spacing: 0.016rem;
    }
    .wallet .content{
        width: 100%;
    }
    .wallet .introduce{
        padding-left: .5rem;
        font-size: 0.28rem;
        line-height: 0.4rem;
        letter-spacing: 0.004rem;
        padding-right: 0;
        word-break: break-all;
    }
     .useApp{
        width: 3.5rem;
        height: 0.74rem;
        margin: 0 auto;
        display: block;
        font-size: 0.36rem;
        line-height: 0.12rem;
        letter-spacing: 0.022rem;
    }
    .wallet .top_dex .title{
        text-align: right;
    }
    .gov{
        margin-bottom: 2rem;
        display: flex !important;
    }
    .gov .top{
        width: 83%;
        flex-wrap: wrap;
        flex-direction:column-reverse;
    }
    .gov .introduce{
        width: 100%;
        padding-left: 0.5rem;
        margin-left: .72rem;
    }
    .gov .title{
        font-size: 0.84rem;
        letter-spacing: 0.016rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: .5rem;
        text-align: right;
    }
    .gov .text{
        padding-left: 0.4rem;
        font-size: 0.32rem;
        letter-spacing: 0.004rem;
        margin-bottom: 1.02rem;
    }
    .gov .title_small{
        font-size: 0.36rem;
        line-height: 2;
        letter-spacing: 0.008rem;

    }
    .gov .title_sub{
        font-size: 0.72rem;
        line-height: 1;
        letter-spacing: 0.014rem;
    }
    .gov .text_sub{
        font-size: 0.28rem;
        line-height: 0.4rem;
        letter-spacing: 0.004rem;
        width: 100%;
    }
    .gov .link {
        float: right;
        margin-top: .5rem;
    }
    .standard .top {
        justify-content: normal;
    }
    .ecosystem .list {
        width: 100%;
    }
    .ecosystem .lastName {
        width: 1.93rem;
        height: .52rem;
        line-height: .52rem;
    }
    .erc3475 .title {
        line-height:1.1;
    }
}
