.flex{
    display: flex;
}
.fl_ju_sp_bt{
    justify-content: space-between;
}
.fl_wrap{
    flex-wrap: wrap;
}

.default_button {
    background-color: #403af4 !important;
    border: none;
    font-family: Arial-BoldMT,sans-serif;
    font-size: 16px;
}

.default_input {
    height: .4rem;
    border: 2px solid #403af4!important;
    background: transparent!important;
    color: #fff;
    text-align: center;
    width: 1.15rem;
}

.default_input :global(.ant-input) {
    background: transparent!important;
    color: #fff!important;
    text-align: center!important;
}

@keyframes loading-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.spinning {
    animation: loading-spin 1.5s linear infinite;
}

.vCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.default_height {
    height: 45px!important;
}
