.content{
    height: 100vh;
    padding: 1rem 0;
}
.title{
    color: #fff;
    text-align: center;
    font-family: "Secular One", Sans-serif;
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 10px;
    margin-bottom: 30px;
}


.img_container {
    width: 320px;
    height: 320px;
    margin: 0 auto;
}

.img_base {
    position: relative;
}

.img_1 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 130px;
    height: 130px;
    background: #fff;
}

.img_2 {
    position: absolute;
    z-index: 1;
    right: 157px;
    top: 1px;
}

.img_3 {
    position: absolute;
    z-index: 1;
    right: 157px;
    bottom: 10px;
}


.createModalContent {
    width: 4rem;
    margin: auto;
    min-height: 4rem;
    padding-bottom: 1rem;
}

.dueDateSlider {
    margin: 0.5rem 0;
}

/*.percentSlider:after, .percentSlider:before {*/
/*    content: none;*/
/*}*/

.inputWrapper h3{
    color: #fff;
    width: 0.5rem;
}

.inputItem {
    width: 25%;
    display: flex;
    align-items: center;
}

.inputItem span {
    margin-left: 10px;
    color: #fff;
}

.CreateAmountInput {
    flex-grow: 1;
    background-color: transparent;
    border-color: #1890ff;
}

.sliderTitle {
    font-size: 26px;
    text-align: center;
}

.CreateButton {
    width: 100%;
    background-color: #403af4 !important;
    border: none;
    font-family: Arial-BoldMT,sans-serif;
    font-size: 16px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
}

.buttonItem {
    margin-right: 10px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.infos{
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 30px;
    margin-top: 30px;
}

.block{
    flex-shrink: 0;
    display: block;
    margin-left: 20px;
    font-size: 16px;
}

@media (max-width: 1400px) {
    .currType{
        width: 90% !important;
    }
    .infos{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 960px) {
    .item{
        padding:5px;
        flex-direction: column;
        margin: 5px;
    }
    .currType{
        padding: 5px;
        width: 70% !important;
    }
    .currType .name{
        display: inline-block;
        margin-bottom: 10px;
    }
    .infos{
        font-size: 16px;
        line-height:40px ;
    }
    .currType .progress{
        font-size: 14px;
    }
}
@media (max-width: 750px) {
    .currType{
        width: 90% !important;
    }
    .currType .progress{
        font-size: 20px;
    }
    .block{
        margin: 0;
    }
    .infos{
        width: 100%;
        font-size: 12px;
    }
}
