.allLinks {
  display: flex;
  justify-content: space-around;
}

.link {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.link a {
  font-family: Arial-BoldMT;
  display: inline-block;
  line-height: 28px;
  height: 28px;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: 3px;
}

.linkActive {
  background-color: #403af4;
}

@media (max-width: 768px) {
  .allLinks {
    display: flex;
    width: 100%;
    padding:0 20px;
    margin-top: 30px;
    font-weight: 600;
  }
  .allLinks .link {
    /*padding: 0;*/

  }
  .allLinks .link a {
    /*padding: 0;*/
    letter-spacing: 1px;
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .allLinks{
    width: 60%;
  }
  .allLinks .link {
    padding: 0;
  }
  .allLinks .link a {
    padding: 0 10px;
    letter-spacing: 0;
    font-size: 12px;
  }
}
