
.selectModal_wrap .close_icon{
    top: 143px;
}

.label {
    width: 80%;
    border: 1px solid #403af4;
    margin: 0 auto;
    height: 34px;
    line-height: 34px;
    color: #707070;
    display: flex;
    justify-content: center;
}

.labelInput {
    flex-basis: 0;
    flex-grow: 1;
    background: transparent!important;
    border: none!important;
    color: #707070!important;
}

.labelGrow {
    flex-basis: 0;
    flex-grow: 1;
}

.check {
    border: 1px solid #403af4;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

.panelRow {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.inlineblock {
    display: inline-block;
}

.percentSlider:after {
    content: none;
}

.percentSlider:before {
    content: none;
}
.format_height {
    height: 45px!important;
}
