@-webkit-keyframes animate {
    0% {
        -webkit-transform: perspective(160px);
    }

    50% {
        -webkit-transform: perspective(160px) rotateY(-180deg);
    }

    100% {
        -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
    }
}

@keyframes animate {
    0% {
        transform: perspective(160px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    }

    25% {
        transform: perspective(160px) rotateX(0) rotateY(180deg);
        -webkit-transform: perspective(160px) rotateX(0) rotateY(180deg);
    }

    50% {
        transform: perspective(160px) rotateX(-180deg) rotateY(180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(180deg);
    }
    75% {
        transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    }
}


#loading {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1070;
    margin-top: 0;
    top: 0;
    opacity: 1;
    left: 0;
}

#loadingCenter {
    width: 100%;
    height: 100%;
    position: relative;
}

#loadingCenterAbsolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 194px;
    width: 200px;
    transform: translate(-50%,-50%);
}

#loadingObject {
    width: 40px;
    /* height: 80px; */
    /* background-color: #fff; */
    -webkit-animation: animate 3s infinite ease-in-out;
    animation: animate 3s infinite ease-in-out;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}
