.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content .title{
    color: #fff;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px ;
}
.input,.output{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.output {
    border-top:2px solid #403af4 ;
}
.infos{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.block{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}
.item{
    display: flex;
    justify-content: space-around;
}
.btnGroup{
    margin: 30px auto;
}
.btnGroup .view{
    border-right: 1px solid #707070 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.deposit{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.deposit.disabled{
    background: #164385 !important;
}
.btn{
    color: #fff !important;
    background: #403af4 !important;
    border: 1px solid #403af4 !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 20px;
    vertical-align: middle;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}
.currType{
    width: 60% !important;
    margin: 0 auto;
    border: 2px solid #403af4;
    min-height: 150px;
    max-height:150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}

.lastName,.min,.max{
    /*text-align: ;*/
    display: flex !important;
    align-items: center;
    font-size: 16px;
    line-height: 1;
}
.lastName{
    margin-left: 10px;
}
.min,.max{
    text-align: right;
}
.min_wrap .inputAmount,.max_wrap .inputAmount{
    width: 100%;
    border: 1px solid #403af4 !important;
    background: #000 !important;
    color: #fff;
}
.min_wrap,.max_wrap{
    margin: 10px 0;
}
.slider_wrap{
    margin: .4rem 0;
}
.borrow{
    background: #403af4 !important;
    border-color:#403af4 !important;
    color: #fff !important;
    font-family: Arial-BoldMT,sans-serif;
    font-size: 16px;
    width: 2.60rem;
    margin: 0 auto;
    position: relative;
    display: block !important;
}
.borrow_flag{
    position: absolute;right: -.3rem;
}
.inTotal{
    width: 80%;
    margin: 0 auto;
    margin-bottom: .4rem;
    margin-top: -.3rem;
}
.inTotal_con{
    text-align: center;
}
.currentItem{
    /*width: 80%;*/
    /*margin:0 auto;*/
    border-top: 2px solid #403af4;
    margin-bottom: -20px;
}
.currentItem .con {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 1400px) {
    .currType{
        width: 90% !important;
    }
    .infos{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 960px) {
    .item{
        padding:5px;
        flex-direction: column;
        margin: 5px;
    }
    .currType{
        padding: 5px;
        width: 70% !important;
    }
    .currType .name{
        display: inline-block;
        margin-bottom: 10px;
    }
    .infos{
        font-size: 16px;
        line-height:40px ;
    }
    .currType .progress{
        font-size: 14px;
    }
}
@media (max-width: 750px) {
    .currType{
        width: 90% !important;
    }
    .currType .progress{
        font-size: 20px;
    }
    .block{
        margin: 0;
    }
    .infos{
        width: 100%;
        font-size: 12px;
    }
}
