.wrap{
    padding: 20px;
}
.title{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Arial-BoldMT,Sans-serif,sans-serif;
    text-align: center;
    color: #fff;
}
.item{
    text-align: center;
}
.item_title{
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.amount{
    font-size: 26px;
    color: #5d59e7;
    font-family: Arial-BoldMT Sans-serif,sans-serif;
    font-weight: bolder;
}
.climAirdrop{
    width: 80%;
    margin: 20px auto;
    line-height: 1 !important;
    text-transform: uppercase;
}
.address{
    display: block;
    float: right;
    width: calc(100% - 70px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrap .claim{
    width: 20%;
    height: 40px;
    font-size: 18px;
    letter-spacing: 1px;
    display: block;
    font-weight: bold;
    font-family: Arial-BoldMT Sans-serif,sans-serif;
    margin: 20px auto;
    background: #403af4 !important;
    border-color:#403af4 !important;
    color: #fff !important;
}
@media (max-width: 750px) {
    .wrap .claim{
        width: 50%;
    }

}
