.rFlex{
  display: flex;
}
.rAlignItemsCenter{
  align-items: center;
}
.rSpaceBetween{
  justify-content: space-between;
}
.rSpaceAround{
  justify-content: space-around;
}
.rJustifyCenter{
  justify-content: center;
}


.rMarginAuto{
  margin: 0 auto;
}

.rRelative{
  position: relative;
}
.rAbsolute{
  position: absolute;
}