@font-face {
  font-family: Arial-BoldMT;
  src: url("/src/assets/fonts/Arial-BoldMT.otf");
}
@font-face {
  font-family: Dubai;
  src: url("/src/assets/fonts/Dubai-Regular.ttf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,Arial-BoldMT;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container_main{
  background: linear-gradient(#000 60%, #1f1c20) !important;
}
@media (max-width: 750px) {
  .container_main{
    background: linear-gradient( #000 90%,#1E195C ) !important;
  }
}
