.collapse .ant-collapse-content-box{
  padding-right: 45px !important;
  padding-left: 5px;
}
.collapse{
  overflow: hidden;
}
.tables th.ant-table-cell{
  font-size: 20px !important;
  text-align: center;
}
.tables td.ant-table-cell{
  font-size: 18px !important;
  text-align: center;
}
.header .logo{
  width: 65px;
}
@media (max-width: 1320px) {
  .header .logo{
    width: 43px;
  }
}
@media (max-width: 750px) {
  .header .logo{
    width: 32px;
  }
}
