.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.logoimg {
  width: 1rem;
}
.links {
  display: flex;
  align-items: center;
}

.walletright {
  position: relative;
  top: 35px;
  width: 230px;
  margin-left: 42px;
}

.wallet {
  /*margin-left: 60px;*/
}

.bsctext {
  width: 160px;
  color: white;
  text-align: center;
  margin: 5px auto;
  font-size: 12px;
  letter-spacing: 3px;
}
.bsctext a{
  color: #7a7a7a;
}
.bsctext a.active{
  color: #fff;
}
.bsctextcolor {
  color: darkgray;
}
.wallet .headerButton:hover,.wallet .headerButton:focus{
  background: blue;
}
.mobileLogo {
  display: none;
}
.pcLogo {
  display: block;
}
.bondsBalance .ant-collapse-header{
  padding: 0 !important;
}
.bondsBalance .headerButton {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.wallet .headerButton,
.bondsBalance .headerButton {
  /*margin: 0 auto;*/
  text-align: center;
  width: 100%;
  color: white;
  letter-spacing: 3px;
  height: 41px;
  font-weight: bold;
  background-color: #403af4;
  border: solid 2px #ffffff;
  overflow: hidden;
}

.collapse {
  position: absolute;
  width: 100%;
  background-color: black !important;
}
.headerButton.an{
  position: relative;
  border: 2px solid #403af4 !important;
  border-bottom-left-radius:0 ;
  border-bottom-right-radius:0 ;
  overflow: revert;
}
.collapse_panel {
  border: 2px solid #403af4 !important;
  border-top: 0 !important;
}

.collapse_panel p {
  color: white;
}

.collapse_panel div {
  color: white !important;
  background: black !important;
}

.tables {
  position: relative;
  width: 100%;
  top: -15px;
}

/* //修改表头文字、背景颜色 */

:global .ant-table-thead > tr > th {
  color: white !important;
  background: black !important;
  font-size: 12px !important;
  transform: scale(0.8);
  border-bottom: none !important;
  white-space: nowrap;
}

/* //去除鼠标悬浮的背景色 */

:global .ant-table-tbody > tr > td {
  background: rgba(255, 255, 255, 0) !important;
  border-bottom: none !important;
  transform: scale(0.7);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:global .ant-table-tbody > tr > td:hover {
  background: rgba(255, 255, 255, 0) !important;
}

:global .ant-table.ant-table-small .ant-table-tbody > tr > td {
  padding: 0px !important;
}

.buts {
  width: 100%;
}

.but1 {
  background: black;
  color: white;
  height: 30px;
  border: 1px solid white !important;
}

@media screen and (min-width: 220px) and (max-width: 768px) {

  .header {
    flex-direction: column;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  .logoimg {
    width: 85%;
    margin: 0 auto;
  }
  .pcLogo {
    display: none;
  }
  .mobileLogo {
    display: block;
  }

  .walletright {
    top: 50px;
    width: 60%;
    margin: 0 auto;
  }
  .wallet {
    margin-left: 0px;
  }
  .bondsBalance {
    margin-left: 0px;
  }
  .bsctext {
    font-size: 16px;
    margin: 10px auto;
    width: auto;

  }

  .header .headerButton {
    height: 46px;
    width: 100%;    font-size: 16px;
    line-height: 25px;
  }
  .wallet .headerButton:hover {
    background: blue;
    color: white;
    /*height: 55px;*/
  }
  .bondsBalance .headerButton:hover {
    background: blue;
    color: white;
    /*height: 55px;*/
  }
  .collapse {
    width: 100%;
    position: static;
    margin-bottom: 40px;
  }
}
